body
{
background-color: black;
font-family: Verdana;
text-align: center;
color: white;
}

.h1 {
  color: white;
  font-family: Verdana;
  font-weight: normal;
  text-align: center;
  font-size: 50px;
}
 .link1 {
   color: #7FFFD4;
   text-align: center;
   font-size: 16px;
 }
