body
{
background-color:black;

}

#header1 h1{
  color: white;
  font-family: Verdana;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}
 #link1 h2{
   color: aqua;
   text-align: center;
   font-size: 16px;
 }
