body
{
background-color: black;
font-family: Verdana; sans-serif;
text-align: center;
color: white;
}

.h1 {
  color: white;
  font-family: Verdana;
  font-weight: normal;
  text-align: center;
  font-size: 50px;
}
 .link1 {
   color: #7FFFD4;
   text-align: center;
   font-size: 16px;
 }
 video{
   object-fit: contain;
 }

 .personal h2{
   font-size: 42px;
   font-weight: bold;
   font-family: Verdana;
 }

 .excursion p{
   font-family: Verdana;
   font-size: 21px;
   color: gray;
 }

 .camp {
   image-orientation: center;
 }

 .phone {
   image-orientation: center;
 }

 .soon {
   font-size: 42px;
   font-weight: bold;
   font-family: Verdana;
 }
